<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Another page</title>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <h1>Welcome to the other page</h1>
    <a href="/">go back to home</a>
  </body>
</html>
