
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

  </head>

  <body>
    <div id="home">
      <% include ./partials/_header %>
      <div id="index" class="container-fluid">
        <div class="row">
          <div id="instructions" class="col-lg-6 col-lg-offset-3">
          <h2>Create a New Poll</h2>
        </div>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <form id="createPollForm" method="GET" action="/thanksPage">
              <div class="form-group">
                <label for="newPollName">Poll Name: </label>
                <input type="text" class="form-control" name="pollName" placeholder="Enter poll name" required>
              </div>
              <div class="form-group">
                <label for="pollQuestion">Question: </label>
                <input type="text" class="form-control" id="pollQuestionId" name="pollQuestion" placeholder="Question" required>
              </div>
              <div id="optionsList">
                <div class="form-group">
                  <label for="option1">Choice 1: </label>
                  <input required type="text" class="form-control" id="choiceOneId" name="choice1" placeholder="Choice 1">
                </div>
                <div class="form-group">
                  <label for="comment">Description:</label>
                  <textarea class="form-control" rows="2" id="descriptionOneId" placeholder="Description (optional)" name="description1"></textarea>
                </div>
                <div class="form-group">
                  <label for="option2">Choice 2: </label>
                  <input required type="text" class="form-control" id="choiceTwoId" name="choice2" placeholder="Choice 2">
                </div>
                <div class="form-group">
                  <label for="comment">Description:</label>
                  <textarea class="form-control" id="descriptionTwoId" placeholder="Description (optional)" rows="2" name="description2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="creatorEmail">Email: </label>
                <input type="email" id="email" class="form-control" name="creatorEmail" placeholder="Enter your email" required>
              </div>
              <div id="pollSubmit">
                <button type="submit" id="btn-create-poll" class="btn btn-primary">Create Poll</button>

              </div>

           </form>
          </div><!-- /.col-lg-6 -->
        </div><!-- Row -->
      </div><!-- /.container -->

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- jQuery UI -->
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- More Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>
  </body>
</html>

